.vscode/
.idea/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db
.metals
# Environment files
*.env
.env.local
.env*.local
.secrets/*

*.p12
*.pfx
*.key
*private*.pem

*.tfstate
*.tfstate.backup
*.tfvars
.terraform/