lakerlogs.duckdns.org {
    handle /wl/* {
        uri strip_prefix /wl
        reverse_proxy backend-worklog:9081
    }
    handle /a/* {
        uri strip_prefix /a
        reverse_proxy backend-auth:9084
    }
    handle {
        reverse_proxy frontend:3000
    }
}