<server description="Worklog Microservice">
    <!-- tag::featureManager[] -->
    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.1</platform>
        <feature>beanValidation</feature>
        <!-- tag::cdiFeature[] -->
        <feature>cdi</feature>
        <!-- end::cdiFeature[] -->
        <feature>jsonb</feature>
        <!-- tag::passwordUtilFeature[] -->
        <feature>passwordUtilities-1.1</feature>
        <!-- end::passwordUtilFeature[] -->
        <feature>restfulWS</feature>
        <!-- tag::mpConfigFeature[] -->
        <feature>mpConfig</feature>
        <!-- end::mpConfigFeature[] -->
        <feature>mpOpenAPI</feature>


    </featureManager>
    <!-- end::featureManager[] -->

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint
        host="*"
        httpPort="${http.port}"
        httpsPort="${https.port}"
        id="defaultHttpEndpoint"
    />
    <!-- end::httpEndpoint[] -->

    <!-- tag::webApplication[] -->
    <webApplication
        location="worklog.war"
        contextRoot="${app.context.root}"
    />
    <!-- end::webApplication[] -->

    <variable name="mongo.hostname" defaultValue="localhost" />
    <variable name="mongo.port" defaultValue="27017" />
    <variable name="mongo.dbname" defaultValue="appdb" />
    <variable name="mongo.username" defaultValue="appuser" />
    <variable name="mongo.password" defaultValue="secret123" />
    <variable name="app.context.root" defaultValue="/worklog"/>
</server>