<server description="Notification Microservice">
    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.1</platform>
        <feature>beanValidation</feature>
        <feature>cdi</feature>
        <feature>jsonb</feature>
        <feature>passwordUtilities-1.1</feature>
        <feature>restfulWS</feature>
        <feature>ssl-1.0</feature>
        <feature>mpConfig</feature>
        <feature>mpOpenAPI</feature>
    </featureManager>

    <!-- cors allowed -->
    <cors domain="*"
        allowedOrigins="*"
        allowedMethods="GET, POST, PUT, DELETE, OPTIONS"
        allowedHeaders="Content-Type, Authorization"
        maxAge="3600" />

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint
        host="*"
        httpPort="${http.port}"
        httpsPort="${https.port}"
        id="defaultHttpEndpoint"
    />
    <!-- end::httpEndpoint[] -->

    <!-- tag::webApplication[] -->
    <webApplication
        location="notifier.war"
        contextRoot="${app.context.root}"
    />
    <!-- end::webApplication[] -->


    <variable name="mongo.hostname" value="localhost" />
    <variable name="mongo.port" value="27017" />
    <variable name="mongo.dbname" value="appdb" />
    <variable name="mongo.username" value="appuser" />
    <variable name="mongo.password" value="secret123" />


</server>